@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

.navigation {
  margin: 2%;
  font-family: 'Roboto', sans-serif;
}

.logo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
}

.info-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  font-weight: 400;
}

.menu {
  color: #f30000;
}

.profile {
  background: #0061a3;
  padding: 1%;
  border-radius: 4px;
}

.logout {
  color: #0061a3;
  font-size: 14px;
}

/* body */

.banner {
  width: 100vw;  
}

.grid1 {
  display: flex;
  gap: 2%;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  margin: 2%;
  padding: 1%;
  font-family: 'Roboto', sans-serif;
}

.you-pick {
  display: flex;
  justify-content: space-between;
}

.you-pick a {
  font-size: 13px;
}

.play-now {
  color: #0061a3;
}

.forward-arrow {
  font-size: 7px; 
}

.grid1 p {
  font-weight: 400;
  color: #5f5f5f;
  font-size: 14px;
}

.biggest {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 2%;
  padding-top: 16px;
  padding-bottom: 16px;
}

.lottery {
  display: flex;
  flex-direction: column;
}

.mega-million {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin: 2%;
}

.lotto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.play {
  display: flex;
  gap: 15%;
  background: #0061a3;
  padding: 10px;
  margin-top: 5px;
}

.play button {
  background: #f7d300;
  border-radius: 8px;
  width: 50%;
  font-weight: bold;
  padding: 10px;
  border: none;
}

.name {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
}

.num {
  color: #13902a;
  font-weight: 700;
  font-size: 20px;
}

.timer {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  align-self: center;
}

.upcoming {
  background: #F30000;
  border-radius: 8px;
  margin: 2%;
  padding: 12px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
  border: none;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 2%;
  margin: 2%;
  font-family: 'Roboto', sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 7px;
  /* align-items: center; */
}

.star {
  display: block;
  position: relative;
  left: 90%;
}

.megamillions {
  align-items: center;
}

.card-info {
  align-self: center;
}

.lname {
  font-size: 12px;
  text-align: center;
}

.amount {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 12px;
  padding-top: 12px;
}

.tcard,
.fa-clock {
  color: #0061a3;
  padding-bottom: 12px;
}

.play-btn {
  display: block;
  background: #f7d300;
  border-radius: 8px;
  width: 100%;
  font-weight: bold;
  padding: 10px;
  border: none;
}

.all-lottos {
  text-align: right;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 2%;
  color: #0061a3;
}

.winner {
  font-family: 'Roboto', sans-serif;
  margin: 2%;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
}

.winner-title {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.won {
  font-weight: 700;
  font-size: 27px; 
}

.money {
  color: #0061a3;
}

.result {
  display: flex;
  justify-content: center;
  gap: 5%;
  padding: 12px;
}

.result p {
  font-size: 14px;
}

.lotto-num {
  padding-bottom: 12px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.seven {
  background-color: #f30000;
  border-radius: 12px;
  color: #fff;
  padding: 3px;
}

.stitle {
  text-align: center;
  padding: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.sinfo {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  margin-bottom: 12px;
}

.latest {
  text-align: center;
}

.read {
  color: #007aff;
  font-size: 14px;
  margin-top: 12px;
}

.now button {
  background-color: #f7d300;
  border: none;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  width: 70%;
  padding: 12px;
  margin-top: 12px;
}

.total-prize {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #e0e0e0;
  margin: 2%;
  padding: 5px;
}

.total-info {
  font-size: 12px;
}

.total-cash {
  color: #13902a;
  font-weight: 700;
  font-size: 20px;
}

.grid2 {
  display: flex;
  flex-direction: column;
  margin: 2%;
  font-family: 'Roboto', sans-serif;
}

.bage {
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 2%;
  gap: 5%;
  font-size: 12px;
  margin-bottom: 10px;
}

.bage-amount {
  color: #5f5f5f;
}

.date {
  font-size: 12px;
}

.cbage {
  display: flex;
  gap: 3px;
}

.fotter {
  margin: 2%;
}

.chat {
  display: flex;
  gap: 5%;
  margin: 2%;
  background-image: url('../Assets/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
}

.live {
  font-family: 'Roboto', sans-serif;
}

.live-chat {
  font-size: 14px;
}

.customer {
  font-weight: 400;
  font-size: 12px;
  color: #5f5f5f;
}

.contact {
  margin: 2%;
}

.useful {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 21px;
}

.links {
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.link1 ul li,
.link2 ul li {
  list-style-type: none;
  padding: 5px;
}
